a {
    color:#69b10b;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li.current_page_item a {
    border-bottom:none;
}
#menu li.menu-item-has-children a:hover{
    border-bottom:none;
}
#menu li a:hover {
    border-bottom:3px solid #79B32E;
}
.carousel-text h1{
    background: rgba(118,184,32,0.7);
}
.layered_slider .slider-btn2:hover {
    background: #69B10B; 
    border-bottom: 2px solid white;
    color: white;
}
.layered_slider .slider-btn2 {
    /* background: rgb(118, 184, 33); */
    border-bottom: 2px solid #69B10B;
    color: #69B10B;
}
.Portfolio .carousel-post-readmore a:hover, .flexslider .slides .slider-btn2
{
    background: rgb(118, 184, 33);
    border-bottom: 2px solid #457507;
}
.Portfolio .jcarousel-skin-tango:hover .jcarousel-prev-horizontal,
.Portfolio .jcarousel-skin-tango:hover .jcarousel-next-horizontal{
    background: #8EC026;
}
.Portfolio .carousel-post-title h3 a:hover {
    color: #69b10b;
}
.feature_inner_box i, .feature_inner_box img{
    background: #69B10B;
    border-color: #9BDE43;
}
.feature_inner_box .back i:before {
    color: #69B10B;
}
.back{
    background: #69B10B;
}
.page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"]{
    background: #8EC026;
}
.page-container .searchform:before, .home-content .searchform:before{
    color: #8EC026;
}
#menu .ddsmoothmenu li ul{
    border-top: 3px solid #79B32E;
}
#menu .ddsmoothmenu li li a:hover{
    color: #8EC026;
}
.flexslider .slides .content a.btn-2 {
    background:url(images/slider-btn-green.png) repeat-x;
    text-shadow:0 1px 1px #69b10b;
    border-left: 1px solid #69b10b;
    border-right: 1px solid #69b10b;
}
.slider_container:hover .flex-next ,
.slider_container:hover .flex-prev {
    /*background:#535353 url(images/next.png)  -3px -67px no-repeat;*/
    background:#8EC026;     
}
/*.slider_container:hover .flex-next {
    background:#69b10b url(images/next.png)  -3px -67px no-repeat;
}
.slider_container:hover .flex-prev {
    background:#69b10b url(images/prev.png)  -6px -67px no-repeat;
}*/
.feature_inner_box img {
    border:1px solid #69b10b;
}
.feature_inner_box:hover a{
    color:#69b10b;
}
.akordeon-item.expanded .akordeon-icon span{
    background:url(images/arrow_up-green.png) no-repeat;
}
.akordeon-item.expanded{
    border:1px solid #69b10b;
}
.akordeon-item.expanded span.ac_tip{
    background:url(images/ac-tip-green.png) no-repeat;
}
.feature_testimonial p{
    background:#f0feeb;
    border:1px solid #87c66d;
}
.feature_testimonial img {
    border:1px solid #87c66d;
    background:#fff;
}
.feature_testimonial a.testimonial_link{
    color:#69b10b;
}
.content-bar .post:hover .date li.day {
    color:#69b10b;
}
.content-bar .post .post_content .read_more {
    color: #69b10b;
}
.content-bar .paging a:hover,
.content-bar .paging a.current{
    background: #75B71F;
}
#contactForm input[type="text"], #contactForm input[type="email"],  #contactForm textarea {
    border:solid 1px #c7d7a1;
}
#contactForm input[type="submit"] {
    text-shadow:0 1px 0 #69b10b;
    background: url('images/contact-us-btn-green.png') no-repeat 0 0;
}
#contactForm input[type="submit"]:hover {
    background: url('images/contact-us-btn-green.png') no-repeat 0 -55px;
}
ol.commentlist li.comment .comment-body {
    border:1px solid #c7d7a1;
    -webkit-box-shadow: 0 5px 1px -5px #69b10b;
    -moz-box-shadow: 0 5px 1px -5px #69b10b;
    box-shadow: 0 5px 1px -5px #69b10b;
}
ol.commentlist li.comment .comment-author {
    border-right: 1px solid #69b10b;
}
ol.commentlist li.comment .comment-author .avatar {
    background:url(images/avatarframe-green.png) no-repeat;
}
ol.commentlist li.comment p {
    border-top:1px solid #dce5c8;
}
#commentform a {
    color:#69b10b;
}
#respond input[type='text'] {
    border:solid 1px #c7d7a1;
}
textarea#comment {
    border:solid 1px #c7d7a1;
}
#commentform input#submit {
    text-shadow:0 1px 0 #69b10b;
    background: url('images/comment-btn-green.png') no-repeat 0 0;

}
#commentform input#submit:hover {
    background: url('images/comment-btn-green.png') no-repeat 0 -53px;
}
.sidebar ul li:before,#wp-calendar tbody td a,#wp-calendar tfoot td a{
    color: #8EC026;
}
#wp-calendar caption,#wp-calendar tbody td#today{
    background-color: #8EC026;
}
/*Search Design
===================================================*/
.page-container .searchform input[type="text"], .home-content .searchform input[type="text"]{
    border:1px solid #69b10b;
}
.page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"] {
    background:url(images/side-search-green.png) no-repeat;
}
.page-container .searchform input[type="text"]:focus, .home-content .searchform input[type="text"]:focus {
    box-shadow: 0 0px 5px #69b10b;
    -moz-box-shadow: 0 0px 5px #69b10b;
    -webkit-box-shadow: 0 0px 5px #69b10b;
}
/*Blog Page
===================================================*/
.page_heading_container{
    background:#f6f6f6 url(images/crumb-img-green.png) center no-repeat;
}
.bottom-footer-container .bottom_footer_content a {
    color: #69b10b;
}
ol.commentlist li.comment .reply a:after {
    /*background: url(images/reply-bg-green.png) 39px 3px no-repeat;*/
    color: #8EC026;
}
.content-bar .post .post_title a:hover {
    color:#69b10b;
}