a {
    color:#CF58B2;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li.current_page_item a {
    border-bottom:none;
}
#menu li.menu-item-has-children a:hover{
    border-bottom:none;
}
#menu li a:hover {
    border-bottom:3px solid #CF58B2;
}
.carousel-text h1{
    background: rgba(206,88,177,0.7);
}
.layered_slider .slider-btn2:hover {
    background: #CF58B2; 
    border-bottom: 2px solid white;
    color: white;
}
.layered_slider .slider-btn2 {
/*     background: rgb(118, 184, 33); */
    border-bottom: 2px solid #CF58B2;
    color: #CF58B2;
}
.Portfolio .carousel-post-readmore a:hover, .flexslider .slides .slider-btn2
{
    background: #CF58B2;
    border-bottom: 2px solid #B7138F;
}
.Portfolio .jcarousel-skin-tango:hover .jcarousel-prev-horizontal,
.Portfolio .jcarousel-skin-tango:hover .jcarousel-next-horizontal{
    background: #CF58B2;
}
.Portfolio .carousel-post-title h3 a:hover {
    color: #CF58B2;
}
.feature_inner_box i, .feature_inner_box img{
    background: #CF58B2;
    border-color: #D03AAB;
}
.feature_inner_box .back i:before {
    color: #CF58B2;
}
.back{
    background: #CF58B2;
}
.page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"]{
    background: #CF58B2;
}
.page-container .searchform:before, .home-content .searchform:before{
    color: #CF58B2;
}
#menu .ddsmoothmenu li ul{
    border-top: 3px solid #CF58B2;
}
#menu .ddsmoothmenu li li a:hover{
    color: #CF58B2;
}
.flexslider .slides .content a.btn-2 {
    background:url(images/slider-btn-purple.png) repeat-x;
    text-shadow:0 1px 1px #802269;
    border-left: 1px solid #802269;
    border-right: 1px solid #802269;
}
.slider_container:hover .flex-next ,
.slider_container:hover .flex-prev {
	/*background:#535353 url(images/next.png)  -3px -67px no-repeat;*/
	background:#CF58B2;     
}
/*.slider_container:hover .flex-next {
    background:#802269 url(images/next.png)  -3px -67px no-repeat;
}
.slider_container:hover .flex-prev {
    background:#802269 url(images/prev.png)  -6px -67px no-repeat;
}*/
.feature_inner_box img {
    border:1px solid #802269;
}
.feature_inner_box:hover a{
    color:#802269;
}
.akordeon-item.expanded .akordeon-icon span{
    background:url(images/arrow_up-purple.png) no-repeat;
}
.akordeon-item.expanded{
    border:1px solid #AD739C;
}
.akordeon-item.expanded span.ac_tip{
    background:url(images/ac-tip-purple.png) no-repeat;
}
.feature_testimonial p{
    background:#fcf3fa;
    border:1px solid #EEC5E2;
}
.feature_testimonial img {
    border:1px solid #EEC5E2;
    background:#fff;
}
.feature_testimonial a.testimonial_link{
    color:#802269;
}
.content-bar .post:hover .date li.day {
    color:#802269;
}
.content-bar .post .post_content .read_more {
    color: #802269;
}
.content-bar .paging a:hover,
.content-bar .paging a.current{
    background: #CF58B2;
}
#contactForm input[type="text"], #contactForm input[type="email"],  #contactForm textarea {
    border:solid 1px #f5d9ed;
}
#contactForm input[type="submit"] {
    text-shadow:0 1px 0 #802269;
    background: url('images/contact-us-btn-purple.png') no-repeat 0 0;
}
#contactForm input[type="submit"]:hover {
    background: url('images/contact-us-btn-purple.png') no-repeat 0 -55px;
}
ol.commentlist li.comment .comment-body {
    border:1px solid #f5d9ed;
    -webkit-box-shadow: 0 5px 1px -5px #bbb;
    -moz-box-shadow: 0 5px 1px -5px #802269;
    box-shadow: 0 5px 1px -5px #802269;
}
ol.commentlist li.comment .comment-author {
    border-right: 1px solid #802269;
}
ol.commentlist li.comment .comment-author .avatar {
    background:url(images/avatarframe-purple.png) no-repeat;
}
ol.commentlist li.comment p {
    border-top:1px solid #f4eaf1;
}
#commentform a {
    color:#802269;
}
#respond input[type='text'] {
    border:solid 1px #f4eaf1;
}
textarea#comment {
    border:solid 1px #f4eaf1;
}
#commentform input#submit {
    text-shadow:0 1px 0 #802269;
    background: url('images/comment-btn-purple.png') no-repeat 0 0;

}
#commentform input#submit:hover {
    background: url('images/comment-btn-purple.png') no-repeat 0 -53px;
}
/*Search Design
===================================================*/
.page-container .searchform input[type="text"], .home-content .searchform input[type="text"]{
    border:1px solid #CF58B2;
}
/* .page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"] {
    /*background:url(images/side-search-purple.png) no-repeat;
} */
.page-container .searchform input[type="text"]:focus, .home-content .searchform input[type="text"]:focus {
    box-shadow: 0 0px 5px #802269;
    -moz-box-shadow: 0 0px 5px #802269;
    -webkit-box-shadow: 0 0px 5px #802269;
}
/*Blog Page
===================================================*/
.page_heading_container{
    background:#f6f6f6 url(images/crumb-img-purple.png) center no-repeat;
}
.sidebar ul li:before,#wp-calendar tbody td a,#wp-calendar tfoot td a{
    color: #802269;
}
#wp-calendar caption,#wp-calendar tbody td#today{
    background-color: #802269;
}
.bottom-footer-container .bottom_footer_content a {
    color: #CF58B2;
}
ol.commentlist li.comment .reply a:after{    /*background: url(images/reply-bg-purple.png) 39px 3px no-repeat;*/
    color: #CF58B2;
}
.content-bar .post .post_title a:hover {
    color:#802269;
}