a {
	color:#e12b2b;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li.current_page_item a {
    border-bottom:none;
}
#menu li.menu-item-has-children a:hover{
    border-bottom:none;
}
#menu li a:hover {
    border-bottom:3px solid #e12b2b;
}
.carousel-text h1{
    background: rgba(225,43,43,0.7);
}
.layered_slider .slider-btn2:hover {
    background: #e12b2b; 
    border-bottom: 2px solid white;
    color: white;
}
.layered_slider .slider-btn2 {
    /*     background: rgb(118, 184, 33); */
    border-bottom: 2px solid #e12b2b;
    color: #e12b2b;
}
.Portfolio .carousel-post-readmore a:hover, .flexslider .slides .slider-btn2
{
    background: #e12b2b;
    border-bottom: 2px solid #A90C0C;
}
.Portfolio .jcarousel-skin-tango:hover .jcarousel-prev-horizontal,
.Portfolio .jcarousel-skin-tango:hover .jcarousel-next-horizontal{
    background: #e12b2b;
}
.Portfolio .carousel-post-title h3 a:hover {
    color: #e12b2b;
}
.feature_inner_box i, .feature_inner_box img{
    background: #e12b2b;
    border-color: #A90C0C;
}
.feature_inner_box .back i:before {
    color: #e12b2b;
}
.back{
    background: #e12b2b;
}
.page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"]{
    background: #e12b2b;
}
.page-container .searchform:before, .home-content .searchform:before{
    color: #e12b2b;
}
#menu .ddsmoothmenu li ul{
    border-top: 3px solid #e12b2b;
}
#menu .ddsmoothmenu li li a:hover{
    color: #e12b2b;
}
.flexslider .slides .content a.btn-2 {
	background:url(images/slider-btn-red.png) repeat-x;
	text-shadow:0 1px 1px #e12b2b;
	border-left: 1px solid #e12b2b;
	border-right: 1px solid #e12b2b;
}
.slider_container:hover .flex-next ,
.slider_container:hover .flex-prev {
	/*background:#535353 url(images/next.png)  -3px -67px no-repeat;*/
	background:#e12b2b;     
}
/*.slider_container:hover .flex-next {
	background:#e12b2b url(images/next.png)  -3px -67px no-repeat;
}
.slider_container:hover .flex-prev {
	background:#e12b2b url(images/prev.png)  -6px -67px no-repeat;
}*/
.feature_inner_box img {
border:1px solid #e12b2b;
}
.feature_inner_box:hover a{
	color:#e12b2b;
}
.akordeon-item.expanded .akordeon-icon span{
	background:url(images/arrow_up-red.png) no-repeat;
}
.akordeon-item.expanded{
	border:1px solid #e12b2b;
}
.akordeon-item.expanded span.ac_tip{
	background:url(images/ac-tip-red.png) no-repeat;
}
.feature_testimonial p{
background:#feede7;
border:1px solid #ed8c6b;
}
.feature_testimonial img {
border:1px solid #ed8c6b;
background:#fff;
}
.feature_testimonial a.testimonial_link{
color:#e12b2b;
}
.content-bar .post:hover .date li.day {
	color:#e12b2b;
}
.content-bar .post .post_content .read_more {
color: #e12b2b;
}
.content-bar .paging a:hover,
.content-bar .paging a.current{
    background: #e12b2b;
}
#contactForm input[type="text"], #contactForm input[type="email"],  #contactForm textarea {
	border:solid 1px #f5d4ce;
}
#contactForm input[type="submit"] {
	text-shadow:0 1px 0 #e12b2b;
	background: url('images/contact-us-btn-red.png') no-repeat 0 0;
}
#contactForm input[type="submit"]:hover {
	background: url('images/contact-us-btn-red.png') no-repeat 0 -55px;
}
ol.commentlist li.comment .comment-body {
	border:1px solid #f5d4ce;
	-webkit-box-shadow: 0 5px 1px -5px #e12b2b;
	-moz-box-shadow: 0 5px 1px -5px #e12b2b;
	box-shadow: 0 5px 1px -5px #e12b2b;
}
ol.commentlist li.comment .comment-author {
border-right: 1px solid #e12b2b;
}
ol.commentlist li.comment .comment-author .avatar {
	background:url(images/avatarframe-red.png) no-repeat;
}
ol.commentlist li.comment p {
	border-top:1px solid #f9e6e3;
}
#commentform a {
	color:#e12b2b;
}
#respond input[type='text'] {
	border:solid 1px #f5d4ce;
}
textarea#comment {
	border:solid 1px #f5d4ce;
}
#commentform input#submit {
	text-shadow:0 1px 0 #e12b2b;
	background: url('images/comment-btn-red.png') no-repeat 0 0;

}
#commentform input#submit:hover {
	background: url('images/comment-btn-red.png') no-repeat 0 -53px;
}
/*Search Design
===================================================*/
.page-container .searchform input[type="text"], .home-content .searchform input[type="text"]{
	border:1px solid #e12b2b;
}
/* .page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"] {
	/*background:url(images/side-search-red.png) no-repeat;
} */
.page-container .searchform input[type="text"]:focus, .home-content .searchform input[type="text"]:focus {
 box-shadow: 0 0px 5px #e12b2b;
-moz-box-shadow: 0 0px 5px #e12b2b;
-webkit-box-shadow: 0 0px 5px #e12b2b;
}
/*Blog Page
===================================================*/
.page_heading_container{
	background:#f6f6f6 url(images/crumb-img-red.png) center no-repeat;
}
.sidebar ul li:before,#wp-calendar tbody td a,#wp-calendar tfoot td a{
    color: #e12b2b;
}
#wp-calendar caption,#wp-calendar tbody td#today{
    background-color: #e12b2b;
}
.bottom-footer-container .bottom_footer_content a {
color: #e12b2b;
}
ol.commentlist li.comment .reply a:after {
/*background: url(images/reply-bg-red.png) 39px 3px no-repeat;*/
    color: #e12b2b;
}
.content-bar .post .post_title a:hover {
	color:#e12b2b;
}