/* 
    Document   : Traffica Language RTL
    Created on : Sep 26, 2013, 10:00 Am
    Author     : Inkthemes
    Description: Language RTL
       
*/

h1, h2, h3, h4, h5, h6 {
	text-align: right;
}
p {
	text-align: right;
}
ol {
	direction: rtl;
}
ol li {
	list-style: decimal;
}
ul {
	direction: rtl;
}
ul li {
	margin-left: 0;
}
/*Header */
div.header_wrapper .container_24 .grid_6.alpha {
	float: right;
	text-align: right;
}
div.header_wrapper .container_24 .grid_18.omega {
	float: left;
	text-align: left;
}
div.grid_14.alpha {
	float: right;
	margin-right: 0;
}
.home-content .home_content {
	margin-right: 0;
}
/*slider*/
.flexslider .slides .imgmedia img {
	margin-right: 10px;
}
/*Testimonial*/
div.grid_10.omega {
	float: left;
	margin-left: 0;
}
.sidebar.home {
	margin-left: 0 !important;
}
/*sidebar */
.sidebar {
	padding-left: 0;
	padding-right: 22px;
}
.sidebar ul li {
	text-align: right;
	direction: rtl;
}
.sidebar ul li {
	background-position: right center;
	padding-right: 16px;
}
.page-container .searchform input[type="text"], .home-content .searchform input[type="text"] {
	text-align: right;
}
.page-content .grid_16.alpha {
	float: right;
	margin-right: 0;
}
.page-content .grid_8.omega {
	float: left;
}
/*page Heading */
.page_heading_container .page_heading_content #crumbs {
	text-align: left;
}
.page_heading_container .container_24 .grid_12.alpha {
	float: right;
}
/*Blog */
.content-bar {
	margin-right: 0;
}
.content-bar .post .post_date {
	left: auto;
	right: 0 !important;
	top: 0;
	position: absolute;
}
.content-bar .post .post_title {
	padding-right: 92px;
}
.content-bar .post .date li {
	text-align: right;
}
.content-bar .post .post_meta .post_comment {
	float: left;
}
.content-bar .post .post_content {
	text-align: right;
}
.content-bar .post .post_content .read_more {
	float: right;
}
/* Comment Form */
ol.commentlist li.comment .comment-body {
	margin-top: 30px;
	margin-left: 0;
	margin-right: 99px;
}
ol.commentlist li.comment .comment-author .avatar {
	position: absolute;
	right: -110px;
	top: 0px;

}
ol.commentlist li.comment .reply a {
	margin-top: 0px;
}

.post-info {
	text-align: right;
}
#respond input[type='text'] {
	text-align: right;
}
textarea#comment {
	text-align: right;
}
/*Contact Form */
#contactForm input[type="text"], #contactForm input[type="email"] {
	text-align: right;
}
#contactForm textarea {
	text-align: right;
}
/*Deafult Gallery */
.page-content .content-bar .gallery ul.thumbnail {
	direction: ltr;
}
/*Fullwidth Gallery*/
.page-content .gallery ul.thumbnail {
	direction: ltr;
}
.page-content {
	padding-bottom: 25px;
	width: 100%;
	display: inline-block;
}
/*Footer */
.footer-container .footer .footer_widget .searchform input[type="text"] {
	text-align: right;
}
.bottom_footer_content .grid_12.alpha {
	float: right;
}
.bottom_footer_content .social_logos {
	float: left;
}
.bottom-inner-footer .grid_12.omega {
	float: left;
}
.bottom-footer-container .bottom_footer_content .bottom-inner-footer p {
	text-align: right;
}
 @media only screen and (min-width: 960px) and (max-width: 1140px) {
}
@media only screen and (min-width: 767px) and (max-width: 960px) {
 .header_wrapper{
	 overflow:hidden;
  }
.slider_container {
	width:100%;
}
.page_heading_container {
	width:100%;
}
.footer-container {
	width:100%;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.flexslider .slides .imgmedia {
	width: 98.5%;
}
.feature_inner_box h6 {
	text-align: center;
}
p {
	text-align: center;
}
.content-bar .post .post_title {
	padding-left: 0;
}
.bottom_footer_content .social_logos {
	margin-right: 0;
	float: right;
}

}
@media only screen and (max-width: 480px) {
.feature_inner_box h6 {
	text-align: center;
}
p {
	text-align: center;
}
.bottom_footer_content .social_logos {
	margin-right: 0;
	float: right;
}
.content-bar .post .post_title {
	padding-left: 0;
}

}
@media only screen and (max-width: 320px) {
}
