a {
    color:#3dd0d1;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li.current_page_item a {
    border-bottom:none;
}
#menu li.menu-item-has-children a:hover{
    border-bottom:none;
}
#menu li a:hover {
    border-bottom:3px solid #3dd0d1;
}
.carousel-text h1{
    background: rgba(61,208,209,0.7);
}
.layered_slider .slider-btn2:hover {
    background: #3dd0d1; 
    border-bottom: 2px solid white;
    color: white;
}
.layered_slider .slider-btn2 {
    /*     background: rgb(118, 184, 33); */
    border-bottom: 2px solid #3dd0d1;
    color: #3dd0d1;
}
.Portfolio .carousel-post-readmore a:hover, .flexslider .slides .slider-btn2
{
    background: #3dd0d1;
    border-bottom: 2px solid #0C9FA0;
}
.Portfolio .jcarousel-skin-tango:hover .jcarousel-prev-horizontal,
.Portfolio .jcarousel-skin-tango:hover .jcarousel-next-horizontal{
    background: #3dd0d1;
}
.Portfolio .carousel-post-title h3 a:hover {
    color: #3dd0d1;
}
.feature_inner_box i, .feature_inner_box img{
    background: #3dd0d1;
    border-color: #0C9FA0;
}
.feature_inner_box .back i:before {
    color: #3dd0d1;
}
.back{
    background: #3dd0d1;
}
.page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"]{
    background: #3dd0d1;
}
.page-container .searchform:before, .home-content .searchform:before{
    color: #3dd0d1;
}
#menu .ddsmoothmenu li ul{
    border-top: 3px solid #3dd0d1;
}
#menu .ddsmoothmenu li li a:hover{
    color: #3dd0d1;
}
.flexslider .slides .content a.btn-2 {
    background:url(images/slider-btn-tealgreen.png) repeat-x;
    text-shadow:0 1px 1px #3dd0d1;
    border-left: 1px solid #3dd0d1;
    border-right: 1px solid #3dd0d1;
}
.slider_container:hover .flex-next ,
.slider_container:hover .flex-prev {
    /*background:#535353 url(images/next.png)  -3px -67px no-repeat;*/
    background:#3dd0d1;     
}
/*.slider_container:hover .flex-next {
    background:#3dd0d1 url(images/next.png)  -3px -67px no-repeat;
}
.slider_container:hover .flex-prev {
    background:#3dd0d1 url(images/prev.png)  -6px -67px no-repeat;
}*/
.feature_inner_box img {
    border:1px solid #3dd0d1;
}
.feature_inner_box:hover a{
    color:#3dd0d1;
}
.akordeon-item.expanded .akordeon-icon span{
    background:url(images/arrow_up-tealgreen.png) no-repeat;
}
.akordeon-item.expanded{
    border:1px solid #3dd0d1;
}
.akordeon-item.expanded span.ac_tip{
    background:url(images/ac-tip-tealgreen.png) no-repeat;
}
.feature_testimonial p{
    background:#e7fcfc;
    border:1px solid #44b2b3;
}
.feature_testimonial img {
    border:1px solid #44b2b3;
    background:#fff;
}
.feature_testimonial a.testimonial_link{
    color:#3dd0d1;
}
.content-bar .post:hover .date li.day {
    color:#3dd0d1;
}
.content-bar .post .post_content .read_more {
    color: #3dd0d1;
}
.content-bar .paging a:hover,
.content-bar .paging a.current{
    background: #3dd0d1;
}
#contactForm input[type="text"], #contactForm input[type="email"],  #contactForm textarea {
    border:solid 1px #86E3E4;
}
#contactForm input[type="submit"] {
    text-shadow:0 1px 0 #3dd0d1;
    background: url('images/contact-us-btn-tealgreen.png') no-repeat 0 0;
}
#contactForm input[type="submit"]:hover {
    background: url('images/contact-us-btn-tealgreen.png') no-repeat 0 -55px;
}
ol.commentlist li.comment .comment-body {
    border:1px solid #B5E7E7;
    -webkit-box-shadow: 0 5px 1px -5px #ddd;
    -moz-box-shadow: 0 5px 1px -5px #ddd;
    box-shadow: 0 5px 1px -5px #ddd;
}
ol.commentlist li.comment .comment-author {
    border-right: 1px solid #3dd0d1;
}
ol.commentlist li.comment .comment-author .avatar {
    background:url(images/avatarframe-tealgreen.png) no-repeat;
}
ol.commentlist li.comment p {
    border-top:1px solid #CDEAEB;
}
#commentform a {
    color:#3dd0d1;
}
#respond input[type='text'] {
    border:solid 1px #3dd0d1;
}
textarea#comment {
    border:solid 1px #CCF8F8;
}
#commentform input#submit {
    text-shadow:0 1px 0 #3dd0d1;
    background: url('images/comment-btn-tealgreen.png') no-repeat 0 0;

}
#commentform input#submit:hover {
    background: url('images/comment-btn-tealgreen.png') no-repeat 0 -53px;
}
/*Search Design
===================================================*/
.page-container .searchform input[type="text"], .home-content .searchform input[type="text"]{
    border:1px solid #3dd0d1;
}
/* .page-container .searchform input[type="submit"], .home-content .searchform input[type="submit"] {
    /*background:url(images/side-search-tealgreen.png) no-repeat;
} */
.page-container .searchform input[type="text"]:focus, .home-content .searchform input[type="text"]:focus {
    box-shadow: 0 0px 5px #3dd0d1;
    -moz-box-shadow: 0 0px 5px #3dd0d1;
    -webkit-box-shadow: 0 0px 5px #3dd0d1;
}
/*Blog Page
===================================================*/
.page_heading_container{
    background:#f6f6f6 url(images/crumb-img-tealgreen.png) center no-repeat;
}
.sidebar ul li:before,#wp-calendar tbody td a,#wp-calendar tfoot td a{
    color: #3DD0D1;
}
#wp-calendar caption,#wp-calendar tbody td#today{
    background-color: #3DD0D1;
}
.bottom-footer-container .bottom_footer_content a {
    color: #3dd0d1;
}
ol.commentlist li.comment .reply a:after{
    /*background: url(images/reply-bg-tealgreen.png) 39px 3px no-repeat;*/
    color: #0C9FA0;
}
.content-bar .post .post_title a:hover {
    color:#3dd0d1;
}