/*
** Used for footer accessibility buttons to increase/decrease sizing
*/

body.accessibility-large {
  font-size:110%;
  transition: none !important;
  & > *  {
    transition: none !important;
  }
  .site-header {
    .desktop-navigation {
      .main-navigation-wrapper {
        ul.main-navigiation {
          li {
            font-size: 0.85em;
          }
        }
      }
    }
  }
}

body.accessibility-normal {
  transition: none !important;
  & > *  {
    transition: none !important;
  }
  //p, h1, h2, h3, h4, h5, h6, ul, ol, a {
    //font-size:100%;
    //transition: none !important;
  //}
}

body.accessibility-small {
  transition: none !important;
  & > *  {
    transition: none !important;
  }
  font-size:90%;
}
