//
// Buttons
// --------------------------------------------------

/*
** Starter button class
*/
.btn, .button {
  display: inline-block;
  padding: 15px 45px;
  background: $green;
  border:2px solid $green;
  color: #FFFFFF;
  text-decoration: none;
  @include border-radius-separate(30px, 30px, 30px, 30px);
  @include transition('all' 0.3s ease-in-out);

  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
    background: transparent;
    border-color: $green;
    color: $green;
  }
  // .btn-outline { }
  &.btn-yellow {
    background-color: $yellow;
    border: 2px solid $yellow;
    color:$black;
  }
  &.btn-yellow:hover {
    background-color: white;
    border: 2px solid white;
    color:$black;
  }
  &.btn-light-grey {
    background-color: $light-grey;
    border: 2px solid $light-grey;
    color:white;
  }
  &.btn-light-grey:hover {
    background-color: $yellow;
    border: 2px solid $yellow;
    color:$black;
  }

  &.btn-arrow-right {
    &:after {
      content: '\f178';
      font-family: 'Font Awesome 5 Pro';
      padding-left: 10px;
      color: rgba(255,255,255,0.7);
    }
    &:hover {
      &:after {
        color: $green;
      }
    }
  }

}
.btn:hover {
  background: $yellow;
  border-color: $yellow;
  color:$black;
}

.btn-set {
  margin: 20px 0;
  .btn {
    margin: 0 10px 5px 0;
  }
}
