/*
** Event Calendar
*/
#event-calendar {
  .fc-header-toolbar {
    button {
      box-shadow: none;
      border:none;
      background: $green;
      color:#FFFFFF;
      padding: 2px 15px;
      font-size: 0.9em;
      line-height: 1em;
      text-align: center;
      border-radius: 30px;
      text-shadow: none;
      box-sizing: content-box;
      outline: none !important;
      &:hover {
        background:darken($green, 10%);
      }
    }
    .fc-left {
      float:none;
      width:100%;
      text-align: left;
      vertical-align: middle;
      margin-bottom: 15px;
      @include media-breakpoint-up(md) {
        float: left;
        width: auto;
        margin-bottom:0;
      }
      h2 {
        float: none;
      }
    }
    .fc-center {
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      width:50%;
      @include media-breakpoint-up(md) {
        width: auto;
        text-align: center;
      }
      button {
        float: none;
      }
    }
    .fc-right {
      float:none;
      display: inline-block;
      width:50%;
      text-align: left;
      vertical-align: middle;
      @include media-breakpoint-up(md) {
        float: right;
        width: auto;
        text-align: right;
      }
      .fc-today-button {
        float: none;
        @include media-breakpoint-up(md) {
          float: left;
        }
      }
      .fc-button-group {
        float: none;
        vertical-align: middle;
        @include media-breakpoint-up(md) {
          float: left;
        }
        button {
          padding-left: 6px;
          padding-right: 6px;
          float: none;
          &.fc-next-button {
            margin-left: 5px;
          }
        }
      }

    }
  }
  .fc-view-container {
    .fc-day-header {
      span {
        font-size: 0.9em;
        padding: 5px;
        display:block;
      }
    }
    .fc-day-number {
      font-size: 0.8em;
      color:rgba(0,0,0,0.5);
    }
    td.fc-today {
      background: rgba($yellow, 0.2);
    }
    .fc-event {
      background-color: $green;
      border-radius: 0;
      border:none;
      font-size: 0.9em;
      padding: 1px 4px;
      cursor: pointer;
      .fc-title {
        display: block;
        padding:5px;
        font-size: 0.9em;
        .event-location {
          font-size:0.8em;
          display: block;
        }
      }
    }
  }
  .fc-list-table  {

    .fc-list-heading {
      span {
        padding: 0;
        font-size: 0.8em;
      }
    }
    .fc-list-item {
      background-color: transparent !important;
      .fc-list-item-marker {
        display: none;
      }
      .fc-list-item-title {
        a {
          padding: 0;
          font-size: 0.9em;
        }
      }
    }
  }
}

.popover {
  border-radius: 0;
  margin-top: -10px;
  background: $green;
  padding: 10px;
  min-width: 300px;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  .arrow, .arrow-inner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-width: 10px 10px 0;
  }
  .arrow:before {
    display: none;
  }
  .arrow .arrow-inner {
    z-index: 1;
    content: "";

    bottom: -1px;
    left: 0;
    border-top-color: $green;
    border-width: 11px 11px 0;
  }
  .popover-title {
    margin: 0;
    color:#FFFFFF;
    padding: 5px 8px 0 8px;
    font-size: 1.2em;
    font-family: $font-heading;
  }
  .popover-content {
    padding: 8px;
    font-size: 0.95em;
    color: #FFFFFF;
    span {
      display: block;
      strong {

      }
    }
  }
}


/*
** Single Event
*/
.event-hero-banner {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 50px;
  }
  .hero-container {
    z-index: 2;
    position: relative;
    @extend .container;
    p {
      position: absolute;
      bottom: -20px;
      font-size: 1.3em;
      line-height: 1.2em;
      color: #FFFFFF;
      margin: 0;
      z-index: 3;
      font-family: $font-heading;
      background: $green;
      padding: 15px 30px;
      -moz-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
      @include media-breakpoint-up(md) {
        font-size: 1.7em;
        line-height: 1.3em;
        padding: 25px 55px;
        bottom: -30px;
        -moz-transform: rotate(-4deg);
        -webkit-transform: rotate(-4deg);
        -o-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        transform: rotate(-4deg);
      }
    }
  }
}

.prospect_event {
  .woocommerce-breadcrumb {
    display: none !important;
  }
  .single-event-details {
    padding: 30px 0;
    .event-information {
      .event-location, .event-start, .event-end {
        margin: 0 0 8px 0;
        color: $black;
        span {
          font-weight:700;
        }
        @include media-breakpoint-up(md) {
          font-size: 1.15em;
        }
      }
      .event-description {
        margin: 10px 0;
        p, ul, ol, a {
          font-size: 85%;
        }
      }
    }
    .event-map {
      height: 300px;
    }
  }
  .event-volunteering-block {
    background: $green;
    padding: 40px 0;
    margin: 40px 0;
    @include media-breakpoint-up(md) {
      padding: 50px 0;
    }
    .section-heading {
      color: #FFFFFF;
      margin: 0 0 20px 0;
      font-size: 1.8em;
      line-height: 1.4em;
      @include media-breakpoint-up(md) {
        font-size: 2em;
        margin: 0 0 40px 0;
      }
    }
    .gform_wrapper {
      margin: 0 !important;
      .gform_body {
        @include media-breakpoint-up(md) {
          width: 82%;
          display: inline-block;
          vertical-align: middle;
        }
        .gfield {
          margin:0 0 10px 0 !important;
          @include media-breakpoint-up(md) {
            display: inline-block;
            vertical-align: top;
            width: 33%;
          }
          .gfield_label {
            display: none;
          }
          .ginput_container {
            margin: 0 !important;
            input[type="text"], input[type="tel"], input[type="email"] {
              width: 100%;
              background: none;
              border:none;
              border-bottom: 2px solid #FFFFFF;
              box-shadow: none;
              font-size: 0.9em;
              padding:3px !important;
              padding:5px 0 !important;
              color: #FFFFFF;
              &:focus, &:active {
                border-color: $green;
              }
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #DDDDDD;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #DDDDDD;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #DDDDDD;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #DDDDDD;
              }
            }
          }
          &.gfield_error {
            border:none !important;
            input[type="text"], input[type="tel"], input[type="email"] {
              border:none !important;
              border-bottom: 2px solid #cc0000 !important;
            }
          }
        }
      }
      .gform_footer {
        padding: 0;
        margin: 20px 0 0 0;
        @include media-breakpoint-up(md) {
          margin: 0;
          width: 15%;
          display: inline-block;
          vertical-align: middle;
          text-align: right;
          margin-left: 2%;
        }
        .gform_button {
          @extend .btn;
          padding: 13px 35px !important;
          background: none !important;
          border:2px solid #FFFFFF !important;
          color: #FFFFFF !important;
          border-radius: 30px !important;
          width: auto;
          margin:0;
          @include media-breakpoint-up(md) {
            width: 90% !important;
            padding: 20px 35px !important;
          }
          &:hover {
            background: $green !important;
            border-color: $green !important;
            color: #FFFFFF !important;
          }
        }
      }
    }
  }
  .event-sponsorship-block {
    padding: 50px 0;
    .section-heading {
      margin: 0 0 30px 0;
    }
    .btn-set {
      margin-top:40px;
    }
  }
}
