.block {
	margin: 40px 0;

	// Hero block
	&.hero-banner {
		margin-top: 0;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	    position: relative;
	    .overlay {
	    	display: block;
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	background: rgba(0,0,0,0.250);
	    }
		.hero-banner-content {
			padding: 50px;
			@include media-breakpoint-up(lg) {
				padding: 140px 50px;	
			}
			h1 {
				color: white;
				text-shadow: 1px 1px 8px rgba(black,0.3);
				margin-bottom: 0px;
				font-size: 3em;
				line-height: 1.1em;
			}
			h2 {
				color: white;
				text-shadow: 1px 1px 8px rgba(black,0.3);
				margin-bottom: 10px;
			}
			
		}
	}

	// CTA blocks
	&.cta-block {
		margin-top: 0;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center center;
	    position: relative;
	    .overlay {
	    	display: block;
	    	position: absolute;
	    	width: 100%;
	    	height: 100%;
	    	background: rgba($black,0.6);
	    }
		.cta-block-content {
			padding: 50px;
			@include media-breakpoint-up(lg) {
				padding: 100px 20%;	
			}
			h2{
				color: white;
				text-shadow: 1px 1px 8px rgba(black,0.3);
				margin-bottom: 0px;
				font-size: 2.6em;
				line-height: 1.1em;
			}
			p {
				color: rgba(white, 0.8);
				text-shadow: 1px 1px 8px rgba(black,0.3);
				margin-bottom: 30px;
				font-size: 1.4em;
				line-height: 1.4em;
			}
			.btn {
				margin: 0 7px;
			}
			
		}
	}

	// Latest news block
	.latest-news-content-block {
		.intro {
			h2 {

			}
			p {

			}
		}
		.post-image {
			.image {
				img {
					max-width: 100%;
				}
				.image-overlay {
					h4 {

					}
					p {

					}
				}
			}
		}
	}
}

// Two col image/video left
.two-column-image-left {
	.left {
		img {
			max-width: 100%;
		}
	}
	.right {

	}
}

// Two col image/video right
.two-column-image-right {
	.left {

	}
	.right {
		img {
			max-width: 100%;
		}
	}
}

// Enquiry form
.enquiry-form-block {

}

// Image gallery
.image-gallery-block {
	a {
		display: inline-block;
		vertical-align: top;
		@include background-image-cover();
		height: 150px;
		width: 50%;
		margin-right: -4px;
		@include media-breakpoint-up(sm) {
			width: 33.3333333%;
		}
		@include media-breakpoint-up(md) {
			width: 25%;
			height: 200px;
		}
		@include media-breakpoint-up(lg) {
			width: 20%;
			height: 200px;
		}
	}
}

// Tiles
.tile-block {
	.image-tile {
		display: block;
		height: 350px;
		background-position: center center;
    	background-size: cover;
    	background-repeat: no-repeat;
		.overlay {
			display: block;
		    width: 100%;
		    height: 100%;
		    transition: all 0.4s ease-in-out;
		    &:hover {
		    	background-color: rgba(141, 198, 64, 0.4);
		    }
			h4 {
				position: absolute;
				bottom: 0;
				left: 45px;
				color: #fff;
			}
		}
	}
}

// FAQs
.faqs-block {
	.section-heading {
		margin-bottom: 30px;
	}
	.faq-item {
		.faq-question {
			background: $green;
			padding: 15px;
			color: #FFFFFF;
			margin: 0;
			font-size: 1.2em;
			&:after {
				content: '\f107';
				font-family: 'Font Awesome 5 Pro';
				color: #FFFFFF;
				float: right;
				font-size: 1.4em;
			}
		}
		.faq-answer {
			font-size: 0.9em;
			margin: 0;
			background: rgba(240,240,240,0.5);
			padding: 15px 20px;
		}
	}
}

.testimonial-block {
	padding: 20px 0;
	.testimonials {
		.testimonial {
			p {
				color: $grey;
				font-size: 0.9em;
			}
		}
		.slick-prev:before {
			font-family: FontAwesome;
			font-size: 40px;
			margin-right: 5px;
			content: "\f104";
			color: black;
		}
		.slick-next:before {
			font-family: FontAwesome;
			font-size: 40px;
			margin-left: 5px;
			content: "\f105";
			color: black;
		}
	}
}

// Upcoming events
.upcoming-events-content-block {
	.upcoming-events {
		.upcoming-event {
			background-image: linear-gradient(to right, $light-grey 33%, rgba(255,255,255,0) 0%);
			background-position: bottom;
			background-size: 20px 2px;
			background-repeat: repeat-x;
			.start_date {
				color: $light-grey;
				font-size: 0.9em;
			}
			h3 {
				margin-top: 5px;
			}
		}
	}
}
// Icon block
.icon_block {
	.icon-item {
		text-align: center;
		h3 {

		}
		p {
			color: $grey;
		}
		.icon {
			font-size: 4em;
		}
	}
}
