input, textarea, select {
  font-family: $font-paragraph;
}

input, textarea {
  outline:none !important;
}

select {
  font-size: 1em;
  line-height: 1.6em;
  height: 35px;
}


/*
** Gravity Forms
*/
form {
	width: 100%;
	.validation_error {
		color: #cc0000 !important;
	    font-size: 0.9em !important;
	    margin-bottom: 10px !important;
	    border-top: none !important;
	    border-bottom: none !important;
	    padding: 5px 0 !important;
	    text-align: left !important;
	}

	input {
		padding: 12px;
		border: solid 1px #ccc;
		border-radius: 5px;
		font-size: 1.1em;
		margin: 3px 0;
	}

	.gform_body {
		.gfield {
			.ginput_container {
				margin-top: 5px;
				&.ginput_container_checkbox {
					margin-top: 0px !important;
				}
				input, textarea {
					border-radius: 0;
					border: solid 1px #ccc;
					padding:12px !important;
					width: 100% !important;
					border-radius: 10px;
					margin-bottom: 10px;
					&:focus, &:active {
						outline: none !important;
						border-color:$green !important;
					}
				}
			}
			&.gfield_error {
				background-color: transparent !important;
				margin-bottom: 0 !important;
				border-bottom:none !important;
				border-top: none !important;
				padding-bottom: 0 !important;
				padding-top:  0 !important;
				label.gfield_label, .validation_message {
					color: #cc0000 !important;
				}
				.validation_message {
					padding-top: 5px !important;
				}
				input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
					border-color: #cc0000 !important;
				}
			}
		}
	}
	.gform_footer {
		padding: 0 !important;
		.gform_button {
	  	padding: 10px 25px !important;
	  	background: $green !important;
	  	border:2px solid $green !important;
	  	color: #FFFFFF !important;
	  	text-decoration: none !important;
	  	font-weight: 700 !important;
	  	font-size: 16px !important;
	  	display: inline-block !important;
	  	border-radius: 60px !important;
			width: auto !important;
	  	@include transition(all 0.3s ease-in-out);
	  	@include media-breakpoint-up(md) {
	    	padding: 15px 30px !important;
	    	font-size: 18px !important;
	  	}
	  	&:hover, &:focus, &:active {
	    	outline: none !important;
	    	text-decoration: none !important;
	    	background: darken($green, 5%) !important;
	    	border-color: darken($green, 5%) !important;
	    	color: #FFFFFF !important;
	  	}
		}
	}
}

.gform_confirmation_wrapper {
	margin: 20px 0;
	.gform_confirmation_message {
		font-size: 20px;
		line-height: 28px;
		color: $black;
		a {
			color:$green;
		}
	}
}

/* Gravity Forms Wizard */
.wizard {
	.gform_heading {
		display: none;
	}
	.gform_wrapper .percentbar_blue {
		background-color: $green;
	}
	.gform_previous_button {
		background-color: $light-grey;
		border-color: $light-grey;
	}
	.gform_wrapper .gform_page_footer {
		padding: 40px 0;
		margin: 40px 0;
	}
}
