
.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
	text-align: center;
}

.circle-arrow {
  background: $green;
  width: 50px;
  height: 50px;
  line-height:50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  i {
    color: #FFFFFF;
    font-size: 1.2em;
  }
  &:hover {
    background: $yellow;
  }
}


.inner-page-wrapper {
  margin: 20px 0;
  .intro p {
    font-size: 1.5em;
    line-height: 1.5em;
    color:$grey;
  }
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  @include media-breakpoint-up(lg) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.bg-yellow {
  background-color: $yellow !important;
  color: $black !important;
}
.bg-green {
  background-color: $green !important;
  color: white !important;
}
.bg-light-grey {
  background-color: $light-grey !important;
  color: $black !important;
}
.bg-very-light-grey {
  background-color: $very-light-grey !important;
  color: $grey !important;
}

.color-yellow {
  color: $yellow !important;
}
.color-green {
  color: $green !important;
}
.color-light-grey {
  color: $light-grey !important;
}
.color-very-light-grey {
  color: $very-light-grey !important;
}