
.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
	text-align: center;
}

.circle-arrow {
  background: $green;
  width: 50px;
  height: 50px;
  line-height:50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  i {
    color: #FFFFFF;
    font-size: 1.2em;
  }
  &:hover {
    background: $yellow;
  }
}

.inline-block-replace {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  flex:none;
}

.inline-block-replace-middle {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  flex:none;
}


.inner-page-wrapper {
  margin: 30px 0;
  .intro p {
    font-size: 1.5em;
    line-height: 1.5em;
    color:$grey;
  }
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  @include media-breakpoint-up(lg) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.bg-yellow {
  background-color: $yellow !important;
  color: $black !important;
}
.bg-pink {
  background-color: $pink !important;
  color: white !important;
}
.bg-green {
  background-color: $green !important;
  color: white !important;
}
.bg-light-grey {
  background-color: $light-grey !important;
  color: $black !important;
}
.bg-very-light-grey {
  background-color: $very-light-grey !important;
  color: $grey !important;
}
.bg-orange {
  background-color: $orange !important;
  color: white !important;
}
.bg-navy {
  background-color: $navy !important;
  color: white !important;
}
.bg-teal {
  background-color: $teal !important;
  color: white !important;
}
.bg-burgundy {
  background-color: $burgundy !important;
  color: white !important;
}

/* Nav colours */
.nav-orange {
    &:hover a, &:hover a:after {
      color:$orange !important;
    }
    &:hover a:before {
      border-bottom: solid 20px $orange !important;
      margin-left:32px;
    }
    ul.sub-menu,h6,p {
      background-color: $orange !important;
      color: white !important;
    }
}
.nav-orange.current-menu-item a,.nav-orange.current-menu-item a:after  {
  color:$orange !important;
}

.nav-navy {
    &:hover a:before {
      border-bottom: solid 20px $navy !important;
      margin-left:40px;
    }
    &:hover a, &:hover a:after {
      color:$navy !important;
    }
    ul.sub-menu,h6,p {
      background-color: $navy !important;
      color: white !important;
    }
}
.nav-navy.current-menu-item a,.nav-navy.current-menu-item a:after  {
  color:$navy !important;
}

.nav-teal {
    &:hover a:before {
      border-bottom: solid 20px $teal !important;
      margin-left:34px;
    }
    &:hover a, &:hover a:after {
      color:white !important;
    }
    ul.sub-menu,h6,p {
      background-color: $teal !important;
      color: white !important;
    }
}.nav-teal.current-menu-item a,.nav-teal.current-menu-item a:after  {
  color:white !important;
}

.nav-burgundy {
    &:hover a:before {
      border-bottom: solid 20px $burgundy !important;
      margin-left:23px;
    }
    &:hover a, &:hover a:after {
      color:$burgundy !important;
    }
    ul.sub-menu,h6,p {
      background-color: $burgundy !important;
      color: white !important;
    }
}.nav-burgundy.current-menu-item a,.nav-burgundy.current-menu-item a:after  {
  color:$burgundy !important;
}
.nav-dark-green {
    &:hover a:before {
      border-bottom: solid 20px $dark-green !important;
      margin-left:6px;
    }
    &:hover a, &:hover a:after {
      color:$dark-green !important;
    }
    ul.sub-menu,h6,p {
      background-color: $dark-green !important;
      color: white !important;
    }
}.nav-dark-green.current-menu-item a,.nav-dark-green.current-menu-item a:after  {
  color:$dark-green !important;
}

.color-black {
  color: $black !important;
}

.color-white {
  color: white !important;
  p {
    color: white !important;
  }
}

.color-yellow {
  color: $yellow !important;
}
.color-green {
  color: $green !important;
}
.color-pink {
  color: $pink !important;
}
.color-grey {
  color: $grey !important;
}
.color-light-grey {
  color: $light-grey !important;
}
.color-very-light-grey {
  color: $very-light-grey !important;
}
