
.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
	text-align: center;
}

.circle-arrow {
  background: $green;
  width: 50px;
  height: 50px;
  line-height:50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  i {
    color: #FFFFFF;
    font-size: 1.2em;
  }
  &:hover {
    background: $yellow;
  }
}


.inner-page-wrapper {
  margin:40px 0;
}
