.top-header-bar {
  display: none;
  @include media-breakpoint-up(md) {
    background: $green;
    display: block;
    text-align: right;
    .top-bar-cart {
      color: #FFFFFF;
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      i {
        padding-right: 5px;
        margin-left: 30px;
      }
    }
    .top-navigation-wrapper {
      text-align: right;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 40px;
        li {
          display: inline-block;
          line-height: 30px;
          position: relative;
          a {
            display: block;
            color:#FFFFFF;
            font-size: 0.9em;
            padding:0 10px;
            margin: 5px 0;
            border-left: 1px solid rgba(255,255,255,0.25);
            @include media-breakpoint-up(lg) {
              font-size: 0.9em;
              padding:0 20px;
            }
          }
          &:last-of-type {
            a {
              padding-right: 0;
            }
          }
          &.header-shop-link {
            a {
              &:before {
                content: '\f3c5';
                font-family: 'Font Awesome 5 Pro';
                padding-right: 5px;
              }
            }
          }
          &.menu-item-search {
            padding-right: 10px;
            form {
              position: relative;
              &:before {
                content: '\f002';
                font-family: 'Font Awesome 5 Pro';
                color: #FFFFFF;
                font-size: 0.9em;
                padding-right:5px;
              }
              input {
                background: transparent;
                border:none;
                box-shadow: none;
                font-size: 0.9em;
                color: #FFFFFF;
                padding: 4px 5px 4px 0;
                width: 60px; /* Expands on click */
                -webkit-transition-duration: 700ms;
                -moz-transition-duration: 700ms;
                -o-transition-duration: 700ms;
                transition-duration: 700ms;
                @include media-breakpoint-up(lg) {
                  font-size: 0.9em;
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: white;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color: white;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color: white;
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color: white;
                }
              }
            }
          }
          &.menu-item-search.active {
            input {
              width: 200px; /* Expands on click */
              background: rgba(255,255,255,0.2);
              padding: 4px 5px 4px 8px;
            }
          }
          .sub-menu {
            position: absolute;
            background: darken($green, 5%);
            min-width: 180px;
            list-style: none;
            margin: 0;
            padding: 0;
            right: -15px;
            z-index: 10;
            top: 40px;
            display: none;
            li {
              display: block;
              padding: 0 5px;
              line-height: 1.35em;
              a {
                display: block;
                color: #FFFFFF;
                padding: 4px 10px;
                border-bottom: 1px solid darken($green, 2%);
                border-left: none;
                &:hover {
                  color: lighten($green, 40%);
                }
              }
              &:last-of-type {
                a {
                  border-bottom: none;
                }
              }
            }
          }
          &:hover, .current-menu-item {
            a {
              color: darken($green, 20%);
            }
            .sub-menu {
              display: block;
            }
          }

        }
      }
    }
  }
  .container-fluid {
    max-width: 1140px;
  }
}

.site-header {
  background: $green;
  padding: 20px 0;
  @include media-breakpoint-up(md) {
    background: none;
    box-shadow: 0 3px 2px -2px rgba(200,200,200,0.3);
  }
  .container-fluid {
    max-width: 1140px;
  }
  .header-logo {
    display: inline-block;
    vertical-align: middle;
    .desktop-logo {
      display: none;
      @include media-breakpoint-up(md) {
        width:145px;
        display: block;
      }
      @include media-breakpoint-up(lg) {
        width:174px;
        margin-top: 15px;
      }
    }
    .mobile-logo {
      display: block;
      width: 130px;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
  .mobile-cart {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 75px;
    top: 7px;
    @include media-breakpoint-up(md) {
      display: none !important;
    }
    i {
      font-size: 1.9em;
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
    }
    span.amount {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.95em;
      color: rgba(255,255,255,0.8);
    }
  }
  .desktop-navigation {
    display: none;
    position: static;
    @include media-breakpoint-up(md) {
      display: block;
      .main-navigation-wrapper {
        text-align: right;

      	ul.main-navigiation {
      		margin:0;
      		padding: 0;
          line-height: 3em;
          @include media-breakpoint-up(lg) {
            line-height: 5.25em;
          }
      		li {
      			display: inline-block;
            height: 100%;
            font-size: 0.8em;
      			margin-left: 9px;
            @include media-breakpoint-up(lg) {
              font-size: 0.8em;
              margin-left: 11px;
            }
            @include media-breakpoint-up(xl) {
              font-size: 0.9em;
              margin-left: 20px;
              &:first-of-type {
                margin-left: 0;
              }
            }
      			a {
      				color:$black;
              display: block;
      			}
            &:hover {
        			a {
        				color:$yellow;
                position: relative;
        			}
        		}
            &.menu-item-has-children {
              & > a {
                &:after {
                  content: '\f0d7';
                  font-family: 'Font Awesome 5 Pro';
                  font-weight: 600;
                  color: $yellow;
                  padding-left: 5px;
                }
                &:before {
                  content: '';
                  width: 0;
                  height: 0;
                  border-left: 30px solid transparent;
                  border-right: 30px solid transparent;
                  border-bottom: 30px solid transparent;
                  content: '';
                  position: absolute;
                  top: 115px;
                  margin-top: -10px;
                  opacity: 0;
                  visibility: hidden;
                  @include media-breakpoint-up(lg) {
                    top: 75px;
                    margin: auto;
                    left: calc(50% - 33px);

                  }
                }
              }
              &:hover {
                a {
                  &:before {
                    border-bottom: 30px solid $yellow;
                    opacity: 1;
                    visibility: visible;
                    z-index: 99;
                  }
                }
                & > ul.sub-menu {
                  visibility: visible;
                  opacity: 1;
                  z-index: 99;
                }
              }
            }
            &.donate {
              margin-right: 0;
              line-height: 1.5em;
              display: none;
              @include media-breakpoint-up(lg) {
                display: inline;
                margin-left: 10px;
              }
              @include media-breakpoint-up(xl) {
                margin-left: 20px;
              }
        			a {
        				color:#fff !important;
                background: $pink;
                padding: 15px 25px;
                border-radius: 50px;
                color:#fff;
        				font-family: $font-paragraph;
        				font-weight: bold;
                display: inline-block;
                &:before {
            			padding-right: 10px;
                  content: '\f004';
                  font-family: 'Font Awesome 5 Pro';
                  font-weight: 400;
            		}
        			}
              &:hover {
                a  {
                  background: $yellow !important;
                  cursor: default;
                  color: #FFFFFF !important;
                }
              }
        		}
            ul.sub-menu {
              background: $yellow;
              left: 0;
              right: 0;
              //top: 140px;
              position: absolute;
              z-index: 99;
              left:0;
              right: 0;
              z-index: 0;
              visibility: hidden;
              opacity: 0;
              top: 135px;
              @include media-breakpoint-up(lg) {
                top:153px;
              }
              .container-fluid {
                max-width: 1140px;
                .mega-menu-content-wrapper {
                  margin-top: 30px;
                  margin-bottom: 30px;
                  border-right: solid 1px rgba(255,255,255,0.2);
                  padding: 20px 50px 20px 0;
                  text-align: left;
                  h6 {
                    font-size: 2.4em;
                    line-height: 1.5em;
                    color: $black;
                    margin: 0 0 15px 0;
                  }
                  p {
                    font-size: 0.95em;
                    line-height: 1.6em;
                    color: $black;
                    margin: 0;
                  }
                  li {
                    display: none;
                  }
                }
                .mega-menu-links-wrapper {
                  padding: 80px 20px 80px 80px;
                  text-align: left;
                  line-height: 24px;
                  li {
                    width: 48%;
                    display: inline-block;
                    font-size: 1.2em;
                    line-height: 1.5em;
                    margin: 0 -4px 0 0;
                    height: auto;
                    padding: 5px 10px 5px 0;
                    vertical-align: top;
                    a {
                      color: $black;
                      &:before {
                        content: '\f105';
                        font-family: 'Font Awesome 5 Pro';
                        font-weight: 300;
                        font-size: 1.1em;
                        padding-right: 8px;
                        color: rgba(white,0.5);
                        margin:0 0 0 -15px;
                      }
                      &:hover {
                        color: $black;
                      }
                    }
                  }
                }
              }
            }
      		}
          li.current-menu-item {
            a {
              color:$yellow;
              font-weight: 700;
            }
          }
      	}
      }
    }
  }
}

/*
** For displaying sticky donate button on smaller devices
*/
.static-donate {
  z-index: 10;
  position: fixed;
  right: -48px;
  top: 60%;
  min-width: 140px;
  padding: 5px 12px 0 8px;
  height: 45px;
  font-size: 1em;
  line-height: 1.6em;
  background: $pink;
  text-align: center;
  border-radius: 0 0 15px 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include media-breakpoint-up(lg) {
    display: none;
  }
  a {
    color: #FFFFFF;
    i {
      padding-right: 5px;
      font-size: 1em;
    }
    &:hover {
      color: #FFFFFF;
    }
  }
}
