.intro {
	h2 {
		margin: 0 auto;
	}
	p {
		color: $grey;
		font-size: 0.8em;
	}
}

.filters {
	margin: 25px 0;
	.col-12 {
		text-align: center;
	}
	form {
		input {
			font-size: 0.8em;
		}
		select {
			font-size: 0.8em;
		}
	}
}

/* Volunteering */
.page-template-page-volunteers {
	.jobs-list {
		.item {
			@include media-breakpoint-up(md) {
				min-height: 500px;
			}
			@include media-breakpoint-up(xl) {
				min-height: 420px;
			}
		}
	}
}

.jobs-list {
	.item {
		display: block;
		padding: 30px;
		border-radius: 10px;
		margin-bottom: 30px;
		
		@include media-breakpoint-up(md) {
			min-height: 460px;
		}
		@include media-breakpoint-up(xl) {
			min-height: 380px;
		}
		.row {
			margin-top: 15px;
		}
		h3 {
			font-size: 1.5em;
			line-height: 1.2em;
			margin-bottom: 5px;
			color: white;
		}
		.voluntry {
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.reference {
			font-size: 0.8em;
			opacity: 0.8;
			margin-bottom: 5px;
		}
		.location {
			margin-bottom: 10px;
		}
		.introduction {
			line-height: 1.2em;
			opacity: 0.8;
		}
		.salary {
			font-size: 1em;
			line-height: 1.2em;
		}
		.closing-date {
			font-size: 1em;
			line-height: 1.2em;
			margin-bottom: 10px;
		}
		.actions {
			padding: 15px;
			@include media-breakpoint-up(md) {
				position: absolute;
				bottom: 50px;
				left:19%;
				width: 70%;
			}
			a {
				margin: 0 auto;
				width: 100%;
				text-align: center;
			}
		}
	}
}

.benefits {
	padding: 60px 10%;
	@include media-breakpoint-up(xl) { 
		padding: 60px 20%;
	}
	h3 {
		text-align: center;
	}
	.benefits-item {
		margin: 25px 0;
		text-align: center;
		i {
			font-size: 50px;
			clear: both;
			display: block;
			color:$grey;
		}
		.title {
			font-size: 1.3em;
			line-height: 1.2em;
			margin: 10px 0;
		}
	}
}

.single-jobs {
	.btn {
		margin: 20px 10px 20px 0;
		padding: 15px 25px;
		width: 100%;
		text-align: center;
		@include media-breakpoint-up(md) {
			width: auto;
		}
	}
}

.job-spec {
	padding:30px;
	border-radius: 10px;
	font-size: 1.2em;
	line-height: 1.5em;
	@include media-breakpoint-up(lg) {
		div {
			margin-bottom: 20px;
		}
	}
	@include media-breakpoint-up(xl) {
		width: 93%;
		float: right; 
	}
	.register {
		padding-top: 20px;
	    margin-top: 20px;
	    border-top: solid 2px rgba(0,0,0,0.1);
		opacity: 0.6;
		@include media-breakpoint-up(md) {
			padding-top: 0px;
		    margin-top: 0px;
		    border-top: none;
		}
		@include media-breakpoint-up(lg) {
			font-size: 0.7em;
			line-height: 1.5em;
		}
	}
	.btn {
		font-size: 0.8em;
		padding: 15px 45px;
		margin-top: 20px;
		margin-bottom: 0px;
		@include media-breakpoint-up(lg) {
			padding: 15px 10px;
			width: 100%;
			text-align: center;
			margin: 0px;
		}
	}
	.btn:hover {
		background: white;
		color:$black;
	}
}

.page-template-page-job-application {
	h1 {
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 30px;
		font-size: 1.4em;
	}
}