.intro {
	h2 {
		margin: 0 auto;
	}
	p {
		color: $grey;
		font-size: 0.8em;
	}
}

.filters {
	margin: 25px 0;
	.col-12 {
		text-align: center;
	}
	form {
		input {
			font-size: 0.8em;
		}
		select {
			font-size: 0.8em;
		}
	}
}

.jobs-list {
	.item {
		.row {
			margin-top: 15px;
		}
		h5 {
			margin-bottom: 5px;
		}
		.reference {
			font-size: 0.8em;
		}
		.introduction {

		}
		.salary {
			font-size: 0.8em;
		}
		.closing-date {
			font-size: 0.8em;
		}
		.actions {
			padding: 15px;
			a {
				margin: 0 auto;
			}
		}
	}
}

.benefits {
	h3 {
		text-align: center;
	}
	.benefits-item {
		margin: 25px 0;
	}
}