
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, .container, .scroller {
	height: 100%;
}

.scroller {
	overflow-y: scroll;
}

.scroller,
.scroller-inner {
	position: relative;
}


.menu-trigger {
  width: 45px;
  height: 45px;
  display: inline-block;
  background: $yellow;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  margin-top: 2px;
  @include media-breakpoint-up(md) {
    display: none;
  }
	i {
    color: #FFFFFF;
    line-height: 45px;
    font-size: 1.3em;
    text-align: center;
    display: block;
  }
  &:hover {
    background: darken($yellow, 5%);
  }
}

.mobile-pusher {
	position: relative;
	left: 0;
	//height: 100%;
}

.mobile-menu {
	position: absolute; /* we can't use fixed here :( */
	top: 0;
	left: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.menu-level {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $green;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mobile-pusher::after,
.menu-level::after,
.menu-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: '';
	opacity: 0;
}

.mobile-pusher::after,
.menu-level::after {
	background: rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	-moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}

.menu-level::after {
	z-index: -1;
}

.mobile-pusher.mp-pushed::after,
.menu-level.menu-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.menu-level.menu-level-overlay {
	cursor: pointer;
}

.menu-level.menu-level-overlay.menu-level::before {
	width: 100%;
	height: 100%;
	background: transparent;
	opacity: 1;
}

.mobile-pusher,
.menu-level {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

/* overlap */
.mp-overlap .menu-level.menu-level-open {
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
	-webkit-transform: translate3d(-40px, 0, 0);
	-moz-transform: translate3d(-40px, 0, 0);
	transform: translate3d(-40px, 0, 0);
}

/* First level */
.mobile-menu > .menu-level,
.mobile-menu > .menu-level.menu-level-open,
.mobile-menu.mp-overlap > .menu-level,
.mobile-menu.mp-overlap > .menu-level.menu-level-open {
	box-shadow: none;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .menu-level.menu-level-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.mp-cover .menu-level.menu-level-open > ul > li > .menu-level:not(.menu-level-open) {
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

/* content style */
.mobile-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
  li {
    &::before {
      float: left;
      position: relative;
    	left: 13px;
      top: 16px;
    	z-index: -1;
    	color: rgba(255,255,255,0.4);
      content: '\f105';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 300;
    }
    a {
      display: block;
      padding: 0.7em 1em 0.7em 1.8em;
      outline: none;
      box-shadow: inset 0 -1px rgba(0,0,0,0.2);
      text-shadow: none;
      font-size: 1.2em;
      line-height: 1.4em;
      color: #FFFFFF;
      -webkit-transition: background 0.3s, box-shadow 0.3s;
      -moz-transition: background 0.3s, box-shadow 0.3s;
      transition: background 0.3s, box-shadow 0.3s;
    }
    &.description-item-hide {
      display: none;
    }
    &.donate {
      padding: 0;
      margin: 20px;
      display: inline-block;
      &:before {
        display: none;
      }
      a {
        color:#fff;
        background: $pink;
        font-family: $font-paragraph;
        font-weight: bold;
        color: #FFFFFF;
        border:none !important;
        box-shadow: none !important;
        padding: 15px 30px;
        border-radius: 50px;
        &:before {
          padding-right: 10px;
          content: '\f004';
          font-family: 'Font Awesome 5 Pro';
          font-weight: 400;
        }
        &:hover {
          background: $yellow;
          cursor: default;
        }
      }
    }
  }
  .mp-back {
  	background: rgba(0,0,0,0.1);
  	outline: none;
  	color: #fff;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	display: block;
  	font-size: 0.9em;
  	padding: 1em;
  	position: relative;
  	box-shadow: inset 0 1px rgba(0,0,0,0.1);
  	-webkit-transition: background 0.3s;
  	-moz-transition: background 0.3s;
  	transition: background 0.3s;
    &::after {
      content: '\f061';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
    	position: absolute;
    	right: 10px;
    	font-size: 1.6em;
    	color: white;
    }
  }
  .mp-close {
    background: rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    font-size: 0.9em;
    padding: 1em;
    position: relative;
    box-shadow: inset 0 1px rgba(0,0,0,0.1);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    &::after {
      content: '\f00d';
      font-family: 'Font Awesome 5 Pro';
      font-weight: 400;
      position: absolute;
      right: 10px;
      font-size: 1.6em;
      color: white;
    }
  }
}





.menu-level > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.mobile-menu ul li a:hover,
.menu-level > ul > li:first-child > a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.mobile-menu .menu-level.menu-level-overlay > ul > li > a,
.menu-level.menu-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.menu-level > ul > li:first-child > a:hover,
.menu-level.menu-level-overlay > ul > li:first-child > a {
	box-shadow: inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0);
} /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */


.mobile-menu .menu-level.menu-level-overlay > .mp-back,
.mobile-menu .menu-level.menu-level-overlay > .mp-back::after {
	background: transparent;
	box-shadow: none;
	color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mobile-pusher,
.no-js .mobile-pusher {
	padding-left: 300px;
}

.no-csstransforms3d .mobile-menu .menu-level,
.no-js .mobile-menu .menu-level {
	display: none;
}

.no-csstransforms3d .mobile-menu > .menu-level,
.no-js .mobile-menu > .menu-level {
	display: block;
}
