.main-navigation-wrapper {
	ul {
		margin:0;
		padding: 0;
		li {
			display: inline;
			line-height: 100px;
			margin-right: 13px;
			@include media-breakpoint-up(xl) {
				margin-right: 30px;
			}
			a {
				font-size: 16px;
				color:$black;
			}
		}
		li:hover {
			a {
				color:$yellow;
			}
		}
		li.donate {
			background: $pink;
			padding: 15px 25px;
			color:#fff;
			border-radius: 50px;
			a {
				color:#fff;
				font-family: $font-paragraph;
				font-weight: bold;
			}
		}
		li.donate::before {
			padding-right: 10px;
		}
		li.donate:hover {
			background: $yellow;
			cursor: default;
		}
	}
}