.pagination {
	margin: 40px 0;
	display: block;
	text-align: center;
	a, span {
		display: inline-block;
	    padding: 10px 15px;
	    background: $green;
	    width: auto;
	    height: auto;
	    position: relative;
	    color: #fff;
	    text-align: center;
	    margin: 0 3px;
	}
	a:hover {
		opacity: 0.5;
		text-decoration: none;
	}
	span {
		background-color: $yellow;
		color:$black;
	}
}