.search-results {
  .search-listing-wrapper {
    margin: 20px 0 50px 0;
    .search-listing-item {
      border-bottom: 2px dashed rgba(102, 102, 102, 0.2);
      padding-top: 25px;
      padding-bottom: 25px;
      .search-listing-content {
        margin: 0 0 10px 0;
        @include media-breakpoint-up(md) {
          max-width: 75%;
          display: inline-block;
          vertical-align: top;
        }
        .entry-title {
          font-size: 1.4em;
          margin: 0 0 15px 0;
          @include media-breakpoint-up(md) {
            font-size: 1.6em;
          }
          a {
            color: $black;
          }
        }
        p {
          margin: 0 0 10px 0;
        }
      }
      .btn {
        padding: 13px 30px;
        font-size: 0.85em;
        @include media-breakpoint-up(md) {
          float: right;
          display: inline-block;
          vertical-align: top;
        }

      }
    }
  }
}
