.page-template-page-shops {
	.static-donate {
		display: none;
		@include media-breakpoint-up(md){
			display: block;
		}
	}
	.shop-map-wrapper {
		position: relative;
		@include media-breakpoint-up(md){
			height: 650px;
		}
		.shops-sidebar-wrapper {
			background: $yellow;
			max-height: 280px;
			overflow-y: scroll;
			width: 100%;
			@include media-breakpoint-up(md){
				position: absolute;
				top:80px;
				bottom: auto;
				z-index: 2 !important;
				width: 300px;
				max-height: 430px;
				max-width: none;
			}
			.shops-sidebar-inner {
				.shop-item {
					border-bottom: 2px dashed rgba(0,0,0,0.1);
					padding: 15px;
					@include media-breakpoint-up(md){
						padding: 20px 25px;
					}
					&:last-of-type {
						border:none;
					}
					&.active-shop {
						background: #72984b;
						span, p, a {
							color: #FFFFFF;
						}
					}
					span, p, a {
						display: block;
						color: $black;
					}
					p {
						font-size: 1em;
						line-height: 1.3em;
						margin: 0 0 5px 0;
						font-family: $font-heading;
						@include media-breakpoint-up(md){
							font-size: 1.05em;
							line-height: 1.5em;
						}
					}
					span, a.shop-email, a.shop-tel {
						font-size: 0.8em;
						line-height: 1.3em;
						margin:0 0 2px 0;
					}

					span {
						margin-bottom: 5px;
					}
				}
			}
		}
		.shop-map {
			width: 100%;
			height: 400px;
			position: relative;
			@include media-breakpoint-up(md){
				position: absolute;
				top:0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
			}
		}
	}
}

body.single-shop {
	.shop-hero {
		max-height: 400px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.shop-map {
		height: 200px;
		width: 100%;
		margin-bottom: 20px;
		@include media-breakpoint-up(lg){
			height: 300px;
		}
	}
	.shop-details {
		margin-bottom: 30px;
		.shop-heading {
			margin: 0 0 5px 0;
			font-size: 1.6em;
			line-height: 1.5em;
		}
		.shop-address, .shop-tel, .shop-email, .shop-speciality, .shop-opening {
			font-size: 1em;
			display: block;
		}
		.shop-address, .shop-speciality, .shop-times {
			margin: 0;
		}
		.shop-contact {
			margin: 10px 0;
		}
	}
}
