$care-color: $green;

.care {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $care-color;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $care-color;
			a, li, h3 {
				color: #FFFFFF;
			}
			li:before {
				color: rgba(255,255,255,0.4);
			}
			&:after {
				background-color: $care-color;
			}
		}
	}
	.team-block {
		background-color: $care-color;
	}
	.testimonial-block {
		background-color: $care-color;
	}
}

$fundraising-color: $orange;

.fundraising {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $fundraising-color;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $fundraising-color;
			&:after {
				background-color: $fundraising-color;
			}
		}
	}
	.team-block {
		background-color: $fundraising-color;
	}
	.testimonial-block {
		background-color: $fundraising-color;
	}
}

$education-color: $burgundy;

.education {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $education-color;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $education-color;
			a, li, h3 {
				color: #FFFFFF;
			}
			li:before {
				color: rgba(255,255,255,0.4);
			}
			&:after {
				background-color: $education-color;
			}
		}
	}
	.team-block {
		background-color: $education-color;
	}
	.testimonial-block {
		background-color: $education-color;
	}
}

$volunteering-color: $teal;

.volunteering {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $volunteering-color;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $volunteering-color;
			a, li, h3 {
				color: #FFFFFF;
			}
			li:before {
				color: rgba(255,255,255,0.4);
			}
			&:after {
				background-color: $volunteering-color;
			}
		}
	}
	.team-block {
		background-color: $volunteering-color;
	}
	.testimonial-block {
		background-color: $volunteering-color;
	}
}

$retail-color: $dark-green !important;

.retail {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $retail-color;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $retail-color;
			a, li, h3 {
				color: #FFFFFF;
			}
			li:before {
				color: rgba(255,255,255,0.4);
			}
			&:after {
				background-color: $retail-color;
			}
		}
	}
	.team-block {
		background-color: $retail-color;
	}
	.testimonial-block {
		background-color: $retail-color;
	}
}



$working-color: $navy !important;

.working-for-us {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $working-color;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $working-color;
			a, li, h3 {
				color: #FFFFFF;
			}
			li:before {
				color: rgba(255,255,255,0.4);
			}
			&:after {
				background-color: $working-color;
			}
		}
	}
	.team-block {
		background-color: $working-color;
	}
	.testimonial-block {
		background-color: $working-color;
	}
}
