$care-color: $green;

.care {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $care-color !important;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $care-color !important;
			&:after {
				background-color: $care-color !important;
			}
		}
	}
	.team-block {
		background-color: $care-color !important;
	}
	.testimonial-block {
		background-color: $care-color !important;
	}
}

$fundraising-color: $orange;

.fundraising {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $fundraising-color !important
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $fundraising-color !important;
			&:after {
				background-color: $fundraising-color !important;
			}
		}
	}
	.team-block {
		background-color: $fundraising-color !important;
	}
	.testimonial-block {
		background-color: $fundraising-color !important;
	}
}

$education-color: $burgundy;

.education {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $education-color !important;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $education-color !important;
			&:after {
				background-color: $education-color !important;
			}
		}
	}
	.team-block {
		background-color: $education-color !important;
	}
	.testimonial-block {
		background-color: $education-color !important;
	}
}

$volunteering-color: $teal;

.volunteering {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $volunteering-color !important;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $volunteering-color !important;
			&:after {
				background-color: $volunteering-color !important;
			}
		}
	}
	.team-block {
		background-color: $volunteering-color !important;
	}
	.testimonial-block {
		background-color: $volunteering-color !important;
	}
}

$retail-color: $dark-green !important;

.retail {
	.flexible-content-wrapper {
		.two-column-block {
			background-color: $retail-color !important;
			.btn {

			}
		}
	}
	.content-with-sub-menu {
		.sidebar-sub-menu {
			background-color: $retail-color !important;
			&:after {
				background-color: $retail-color !important;
			}
		}
	}
	.team-block {
		background-color: $retail-color !important;
	}
	.testimonial-block {
		background-color: $retail-color !important;
	}
}