//
// Typography
// --------------------------------------------------

body {
  font-weight: 300;
  font-size: 0.95em;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
  font-family: $font-paragraph;
  color: $grey;
  @include media-breakpoint-up(md) {
    font-size: 1.05em;
    line-height: 1.5em; 
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
  font-weight: 300;
  color: $black;
  margin: 0 0 20px 0;
}
h1 {
    font-size: 2.4em;
    line-height: 1.4em;
}
h2 {
  font-size: 2em;
    line-height: 1.2em;
}
h3 {
  font-size: 1.8em;
    line-height: 1.2em;
}

p, ul, ol, time {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  margin:0 0 20px 0;
  padding: 0 0 0 20px;
}

a {
  text-decoration: none;
  color: $green;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  &:hover, &:active, &:focus {
    color: darken($green, 10%);
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
}

.section-heading {
  margin: 0 0 20px 0;
  font-size: 1.4em;
  @include media-breakpoint-up(md) {
    font-size: 1.8em;
  }
}

.title-block {
  padding: 10px 30px;
  display: inline-block;
  width: auto;
  transform: rotate(-1.5deg);
}

.entry-content {
  p:first-child {
    font-size: 1.4em;
    line-height: 1.4em;
  }
}
