//
// Typography
// --------------------------------------------------

body {
  font-weight: 300;
  font-size: 0.95em;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
  font-family: $font-paragraph;
  color: $grey;
  @include media-breakpoint-up(md) {
    font-size: 1.1em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
  font-weight: 300;
}

p, ul, ol, time {

}

ul, ol {
  margin:0 0 20px 0;
  padding: 0 0 0 20px;
}

a {
  text-decoration: none;
  color: $green;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  &:hover, &:active, &:focus {
    color: darken($green, 10%);
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
}
