//
// Variables (colours etc)
// --------------------------------------------------

/*
** Fonts loaded from fonts.com js
font-family:'Glypha LT Pro W01 Regular';
font-family:'Glypha LT Pro W01 Bold';
font-family:'Arial W01 Rounded Bold';
*/

$font-paragraph: 'Glypha LT Pro W01 Regular', 'sans-serif';
$font-heading: 'Arial W01 Rounded Bold', 'sans-serif';

$green: #8dc73f;
$yellow: #f3cc30;
$black: #222222;
$pink: #f50068;
