//
// Variables (colours etc)
// --------------------------------------------------

/*
** Fonts loaded from fonts.com js
font-family:'Glypha LT Pro W01 Regular';
font-family:'Glypha LT Pro W01 Bold';
font-family:'Arial W01 Rounded Bold';
*/

$font-paragraph: 'Glypha LT Pro W01 Regular', 'sans-serif';
$font-heading: 'Arial W01 Rounded Bold', 'sans-serif';

$green: #84BD00;
$dark-green: #6A963B;
$burgundy: #B52555; 
$yellow: #f3cc30;
$orange: #ED8B00;
$navy: #002b5c;
$teal: #008F96;
$black: #222222;
$pink: #f50068;
$grey: #666666;
$light-grey: #999999;
$very-light-grey: #eaeaea;
