/*
** Woocommerce Generic
*/

button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], #add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
	display: inline-block;
	padding: 15px 30px;
	background: $green !important;
	border:2px solid $green !important;
	color: #FFFFFF;
	font-family:$font-paragraph;
	text-decoration: none;
	font-weight: bold;
	margin-right: 10px;
	@include border-radius-separate(30px, 30px, 30px, 30px);
	@include transition('color' 0.3s ease-in-out);
	@include transition('background' 0.3s ease-in-out);
	@include transition('background-color' 0.3s ease-in-out);
	@include media-breakpoint-up(md) {
		padding: 15px 45px;
	}
	&:hover, &:focus, &:active {
	    outline: none;
	    text-decoration: none;
	    background: transparent !important;
	    border-color: $green !important;
	    color: $green !important;
	}
}

// Add other body classes here where needed
body.woocommerce-page {
  .site-header {
    @include media-breakpoint-up(md) {
      box-shadow: 0 3px 2px -2px rgba(200,200,200,0.5);
    }
  }
}

// Add other body classes here where needed
body.post-type-archive-product, body.tax-product_cat, body.single-product, body.woocommerce-cart {
  .page-inner-wrapper {
    padding: 30px 0;
  }
}

.woocommerce {
  .woocommerce-breadcrumb {
    a {
      color: $yellow;
    }
  }
  .woocommerce-products-header {
    h1 {
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 10px;
    }
  }
  .woocommerce-ordering {
    margin-bottom: 30px;
    select {
      font-size: 0.85em;
      height: 27px;
    }
  }
}

.woocommerce-message {
	border-top-color: $green;
}


/*
** Product/Category Listing
*/
body.post-type-archive-product, body.tax-product_cat, body.single-product, body.woocommerce-cart {
  ul.products {
    li.product {
      width: 100% !important;
      float: none !important;
      margin: 0 0 30px 0 !important;
      @media screen and (min-width:480px) {
        display: inline-block;
        vertical-align: top;
        width: 48% !important;
        margin: 0 0.7% 30px 0.7% !important;
      }
      @include media-breakpoint-up(md) {
        width: 31% !important;
        margin: 0 0.8% 30px 0.8% !important;
      }
      @include media-breakpoint-up(lg) {
        width: 23% !important;
        margin: 0 0.8% 30px 0.8% !important;
      }
      a {
        text-align: center;
        display: block;
        .product-content-wrapper {
          margin-bottom: 15px;
          h2 {
            padding: 0;
            margin: 0;
            font-size: 1.1em;
            line-height: 1.4em;
          }
					.price {
						font-family: $font-heading;
						color: $pink;
						font-size: 1.1em;
						line-height: 1.6em;
						display: block;
					}
          .count {
            display: none !important;
          }
        }
        .btn {
          font-size: 1em;
          padding: 12px 20px;
          margin: 0 auto;
					font-weight: bold;
          @include media-breakpoint-up(md) {
            font-size: 0.85em;
            padding: 11px 20px;
          }
        }
      }
    }
  }
}

/*
** Single Product
*/
body.single-product {
	.product {
		.single-product-images-wrapper {
			margin-bottom: 40px;
			@include media-breakpoint-up(md) {
				width: 43% !important;
				float: left;
			}
			.woocommerce-product-gallery {
				width: 100% !important;
				float: none !important;
				.flex-viewport {
					padding-bottom: 5px;
					margin-bottom: 5px;
					border:1px solid #cccccc;
					.woocommerce-product-gallery__image {
						width: 100%;
					}
				}
				.flex-control-thumbs {
					margin-top: 18px;
					text-align: left;
					li {
						border:1px solid #cccccc;
						padding: 5px !important;
						float: none !important;
						display: inline-block !important;
						vertical-align: top !important;
						width: 30% !important;
						margin-right:-4px !important;
						margin-left: 6% !important;
						margin-bottom: 10px !important;
						&:nth-child(3n+1) {
							margin-left:0 !important;
						}
					}
				}
			}
		}
		.summary {
			margin-bottom: 40px;
			@include media-breakpoint-up(md) {
				width: 53% !important;
			}
			margin-bottom: 30px;
			.product_title {
				font-size: 1.8em;
				line-height: 1.4em;
				margin:0 0 15px 0;
				@include media-breakpoint-up(md) {
					font-size: 2.2em;
					line-height: 1.5em;
				}
			}
			.price {
				margin: 0;
				font-size: 1.7em;
				line-height: 1.5em;
				color: $pink;
				font-family: $font-heading;
				.woocommerce-Price-amount {
				}
			}
			.woocommerce-product-details__short-description {
				margin: 15px 0;
				p {
					margin: 0 0 15px 0;
					font-size: 0.9em;
    			line-height: 1.5em;
					@include media-breakpoint-up(md) {
						font-size: 1em;
					}
				}
			}
			form.cart {
				margin: 25px 0;
				table.variations {
					margin-bottom: 20px;
					td.label {
						line-height: 1.5em;
						label {
							color: $black;
						}
					}
				}
				.single_variation_wrap {
					.single_variation {
							margin-bottom: 15px;
							margin-top: -10px;
							.woocommerce-variation-price {
								.price {
									font-size: 1.9em;
									line-height: 1.6em;
								}
							}
					}
				}
			}
		}
		.woocommerce-tabs {
			margin-bottom: 20px;
			ul.tabs {
				margin: 0 0 10px 0;
				&:before {
			    border-bottom: 1px solid $yellow !important;
				}
				li {
					background: $yellow !important;
					color: $black;
					border-color: $yellow !important;
					opacity: 0.6;
					margin: 0 -5px 0 0;
					&:before {
				  	box-shadow: 2px 2px 0 $yellow !important;
					}
					&:after {
				  	box-shadow: -2px 2px 0 $yellow !important;
					}
					&.active {
						background: $yellow !important;
						border-color: $yellow !important;
						opacity: 1;
					}
				}
			}
			.panel {
				padding: 20px;
				h2 {
					font-size: 1.7em;
					line-height: 1.4em;
					margin: 0 0 15px 0;
				}
				p {
					margin: 0 0 15px 0;
				}
			}
		}
		.up-sells, .related {
			border-top: 1px solid rgba(230,230,230,0.8);
			padding-top: 40px;
			& > h2 {
				font-size: 1.5em;
				line-height: 1.5em;
			}
		}
	}
}

/*
** Cart
*/
body.woocommerce-cart {
	.entry-title {
		display: none;
	}
	.woocommerce {
		margin-top: 40px;
		form.woocommerce-cart-form {
			table.shop_table {
				margin-bottom: 50px;
				button {
					font-size: 0.9em;
					padding: 10px 25px;
				}
				.coupon {
					.input-text {
							height: 38px;
							width: 100%;
							font-size: 0.9em;
							margin-bottom: 5px;
							@include media-breakpoint-up(md) {
								width: 130px;
								margin-bottom: 0;
							}
					}
				}
			}
		}
		.cart-collaterals {
			.cross-sells, .cart_totals {
				& > h2 {
					font-size: 1.4em;
					line-height: 1.4em;
					margin: 0 0 20px 0;
				}
			}
			.cart_totals {
				.wc-proceed-to-checkout {
					.checkout-button {
						font-size: 1em;
						background: $pink !important;
						border-color: $pink !important;
						&:hover {
							background: transparent !important;
							color: $pink !important;

						}
						@include media-breakpoint-up(md) {
							display: inline-block;
							padding: 18px 35px;
						}
					}
				}
			}
			.cross-sells {
				ul.products {
					li.product {
						@include media-breakpoint-up(md) {
			        width: 48% !important;
			        margin: 0 0.7% 30px 0.7% !important;
			      }
			    }
				}
			}
		}
	}
}



/*
** Checkout
*/
.woocommerce-checkout {
	.entry-title {
		display: none;
	}
	.woocommerce {
		margin-top: 40px;
		#customer_details {
			margin: 30px 0 20px 0;
			.col-1, .col-2 {
				max-width: none;
				margin-bottom: 20px;
			}
			.woocommerce-shipping-fields {
				h3 {
					font-size: 20px;
					line-height: 27px;
				}
			}
		}
		.woocommerce-checkout-review-order {
			margin-bottom: 40px;
			table.shop_table {
				border-radius: 0;
				thead {
					th {
						color: $black;
					}
				}
				.cart-subtotal, .shipping {
					color: $black;
				}
				.order-total {
					color: $green;
				}
			}
		}
	}
}


/*
** Order Confirmation
*/

.woocommerce-order-received {
	ul.order_details {
		margin:10px 0;
		padding: 0;
		li {
			float: none;
			border-bottom: 1px dashed #d3ced2;
			border-right:none;
			padding: 6px 0;
			@include media-breakpoint-up(md) {
				float: left;
				border-bottom: none;
				border-right: 1px dashed #d3ced2;
				padding: 0 15px 0 0;
				margin-right: 15px;
				margin-bottom: 15px;
			}
		}
	}
	.woocommerce-order-details {
		.woocommerce-order-details__title {
			margin: 0 0 20px 0;
			font-size: 1.6em;
		}
		.shop_table {
			border-radius: 0;
			thead {
				th {
					color: $black;
				}
			}
			.cart-subtotal, .shipping {
				color: $black;
			}
			.order-total {
				color: $green;
			}
		}
	}
	.woocommerce-customer-details {
		margin-bottom: 50px;
		.woocommerce-column__title {
			margin:0 0 20px 0;
			font-size: 1.6em;
		}
		address {
			padding: 0;
			border:none;
			font-size: 17px;
			line-height: 24px;
			.woocommerce-customer-details--phone, .woocommerce-customer-details--email {
				display: block;
				margin: 3px 0 0 0;
				color: $black;
			}
		}
	}
}

/*
** Login/Register
*/

.woocommerce-account {
	article.type-page {
		margin:40px 0;
	}
	#customer_login {
		.col-1, .col-2 {
			max-width: none;
			& > h2 {
				font-size: 27px;
				line-height: 34px;
				margin: 0 0 15px 0;
			}
			&.col-2 h2 {
				color: $black;
			}
			form.login, form.register {
				margin: 0;
				border:none;
				padding: 25px;
				border-radius: 0;
				background: rgba(240,240,240,0.7);
			}
			form.login {
				margin-bottom: 30px;
			}
			form.register {
				background: $black;
				label, label span {
					color: #FFFFFF;
				}
				.button {
					background-color: $green;
					color: #FFFFFF !important;
					&:hover {
						background-color: #FFFFFF;
						color: $black !important;
					}
				}
			}
		}
	}
}


/*
** My Account
*/

.woocommerce-account {
	.entry-title {
		font-size: 35px;
		line-height:42px;
		@include media-breakpoint-up(md) {
			font-size: 40px;
			line-height:48px;
		}
	}
	.woocommerce {
		margin-bottom: 30px;
	}
	.woocommerce-MyAccount-navigation {
		@include media-breakpoint-up(lg) {
    	width: 25%;
		}
		ul {
			background-color: $yellow;
			margin: 0 0 40px 0;
			padding:20px 0;
			list-style: none;
			position: relative;
			@include media-breakpoint-up(md) {
				margin: 0;
			}
			li {
				a {
					display: block;
					padding: 7px 5px;
					margin: 0 15px;
					border-bottom: 1px dashed rgba(255,255,255,0.3);
					color: $black; 
					font-family: $font-heading;
					&:before {
						content: '\f105';
						font-family: 'Font Awesome 5 Pro';
						color: rgba($black, 0.3);
						padding-right:5px;
					}
					&:hover {
						color: rgba($black, 0.8);
					}
				}
				&:last-of-type {
					a {
						border: none;
					}
				}
				&.is-active {
					a {
						color: rgba($black, 0.8);
					}
				}
			}
		}
	}
	.account-orders-table {
		.woocommerce-orders-table__header-order-status, .woocommerce-orders-table__cell-order-status {
			display: none;
		}
	}
	.woocommerce-MyAccount-content {
		@include media-breakpoint-up(lg) {
			width: 73%;
		}
		.woocommerce-Addresses {
			.col-1, .col-2 {
				max-width: none;
			}
		}
		.woocommerce-EditAccountForm {
			fieldset {
				border:none;
				padding: 0;
				margin:20px 0;
			}
		}
	}
}
