.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	display: inline-block;
	padding: 15px 45px;
	background: $green;
	border:2px solid $green;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 10px;
	@include border-radius-separate(30px, 30px, 30px, 30px);
	@include transition('color' 0.3s ease-in-out);
	@include transition('background' 0.3s ease-in-out);
	@include transition('background-color' 0.3s ease-in-out);
	&:hover, &:focus, &:active {
	    outline: none;
	    text-decoration: none;
	    background: transparent;
	    border-color: $green;
	    color: $green;
	}
}